<section class="about_me" id="about">
    <div class="about_container">
        <div class="image__container about_img_container">
            <img src="/../assets/img/perfil.jpg" alt="Foto de perfil de Uriel Spiridione" class="about_img">
        </div>

        <div class="about_info_container">
            <div class="about_title_container">
                <h1 class="about_title">About</h1>
                <i class="fa-solid fa-pen-to-square ico_edit ico_about"></i>
            </div>
            <p class="about_info">
                My name is Uriel Spiridione. I'm student of economic sciences, photographer and Full Stack Developer based in Córdoba, Argentina.
            </p>
            <div class="about_list_container">
                <ul>
                    <li>
                        <span>
                            Name: 
                        </span>
                        Uriel Spiridione
                    </li>
                    <li>
                        <span>
                            Age: 
                        </span>
                        22
                    </li>
                    <li>
                        <span>
                            Address: 
                        </span>
                        Córdoba, Argentina
                    </li>
                    <li>
                        <span>
                            Birth date:
                        </span>
                        August 4, 1999
                    </li>
                    <li>
                        <span>
                            DNI: 
                        </span>
                        42052783
                    </li>
                    <li>
                        <span>
                            Phone: 
                        </span>
                        +54 351 213-6765
                    </li>
                    <li>
                        <span>
                            Email: 
                        </span>
                        urielspiridione135@gmail.com
                    </li>
                </ul>
                <i class="fa-solid fa-pen-to-square ico_edit ico_about_list"></i>
            </div>
            
            <div class="button_container">
                <a href="#" class="about_download_button">
                    <div class="about_download">
                        <div class="about_icon_container">
                        <i class="fa-solid fa-arrow-down"></i>
                        <i class="fa-solid fa-minus"></i>
                        </div>
                        DOWNLOAD CV
                    </div>
                </a>  
            </div>
        </div>
    </div> 
</section>