<section class="experience vh-100" id="experience">
    <div class="experience_container d-flex flex-column h-100 justify-content-center align-items-center">
        <h1 class="experience_title">Experience</h1>
        <hr class="experience_hr opacity-100">
        <div class="experience_cards_container mt-2">
            <ul class="experience_cards">
                <li class="experience_card"><a class="experience_link d-flex flex-row"><!--*ngFor="let education of data_experience"--><!--[href]="experience.link"-->
                    <div class="experience_card_header animated_bg experience_card_img" id="experience_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/id/1005/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="experience_card_content">
                        <h3 class="experience_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Trabajo
                        </h3>
                        <p class="experience_card_text" id="text">
                            <!-- &nbsp; -->
                            Empresa | Desde to Hasta
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                        </p>
                    </div>
                </a></li>
                <li class="experience_card"><a class="experience_link d-flex flex-row"><!--*ngFor="let education of data_experience"--><!--[href]="experience.link"-->
                    <div class="experience_card_header animated_bg experience_card_img" id="experience_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/id/1005/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="experience_card_content">
                        <h3 class="experience_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Trabajo
                        </h3>
                        <p class="experience_card_text" id="text">
                            <!-- &nbsp; -->
                            Empresa | Desde to Hasta
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                        </p>
                    </div>
                </a></li>
                <li class="experience_card"><a class="experience_link d-flex flex-row"><!--*ngFor="let education of data_experience"--><!--[href]="experience.link"-->
                    <div class="experience_card_header animated_bg experience_card_img" id="experience_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/id/1005/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="experience_card_content">
                        <h3 class="experience_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Trabajo
                        </h3>
                        <p class="experience_card_text" id="text">
                            <!-- &nbsp; -->
                            Empresa | Desde to Hasta
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                        </p>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</section>