<div class="modal fade" id="editEducationModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" #educationForm="ngForm" (ngSubmit)="educationForm.form.valid && onSubmit(educationForm)">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="editEducationModalLabel">Edit education</h5>
                    <button type="button" #clsEducation class="btn-close" data-bs-dismiss="modal" (click)="onClose(educationForm)"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-dark mb-2">Education</h5>
                    <div class="mb-2">
                        <input type="text" class="form-control" id="editEducationInstitute" placeholder="Institute Name" name="institute" 
                            [(ngModel)]="educationActual.where" #institute="ngModel"
                            [ngClass]="{ 'is-invalid': educationForm.submitted && institute.invalid }"
                            required
                        >
                        <div class="invalid-feedback" *ngIf="educationForm.submitted && institute.invalid">
                            <p *ngIf="institute.errors" class="text-danger">Institute name is required</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <input type="text" class="form-control" id="editEducationTitle" placeholder="Title" name="title" 
                            [(ngModel)]="educationActual.degree" #degreeEdit="ngModel"
                            [ngClass]="{ 'is-invalid': educationForm.submitted && degreeEdit.invalid }"
                            required
                        >
                        <div class="invalid-feedback" *ngIf="educationForm.submitted && degreeEdit.invalid">
                            <p *ngIf="degreeEdit.errors" class="text-danger">Degree is required</p>
                        </div>
                    </div>
                    <h5 class="text-dark">
                        Time
                        <input type="checkbox" class="form-check-input ms-4 fs-6" id="editEducationIsActual" name="is_actual" [(ngModel)]="educationActual.is_actual">
                        <label class="form-check-label text-dark ms-1 fs-6" for="editEducationIsActual">
                            Is Actual
                        </label>
                    </h5>
                    <div class="row g-2 mb-4">
                        <div class="col-sm">
                            <label for="editEducationStartDate" class="form-label fs-6 text-dark mb-0">Start date</label>
                            <input type="date" class="form-control" id="editEducationStartDate" name="start_date" [(ngModel)]="formated_start_date"> 
                        </div>
                        <div class="col-sm" *ngIf="!educationActual.is_actual">
                            <label for="editEducationEndDate" class="form-label fs-6 text-dark mb-0">End date</label>
                            <input type="date" class="form-control" id="editEducationEndDate" name="end_date" [(ngModel)]="formated_end_date">
                        </div>
                    </div>
                    <h5 class="text-dark mb-2">Links</h5>
                    <div class="form-text">Image</div>
                    <div class="mb-2">
                        <input type="file" class="form-control" id="editEducationImgUrl" placeholder="Image url" accept="image/jpeg" 
                            (change)="captureFile($event)" #educationInput
                        >
                    </div>
                    <input type="text" class="form-control mb-1" id="editEducationLink" placeholder="Link" name="link" [(ngModel)]="educationActual.link">
                    <input type="checkbox" class="form-check-input" id="editEducationEnabledLink" name="enabled_link" [(ngModel)]="educationActual.enabled_link">
                    <label class="form-check-label text-dark ms-1 mb-1" for="editEducationEnabledLink">
                        Enable link
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose(educationForm)" >Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>