<div class="modal fade" id="editEducationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="editEducationModalLabel">Edit education</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-dark mb-2">Education</h5>
                    <input type="text" class="form-control mb-2" id="editEducationInstitute" placeholder="Institute Name" [value]="education.institute" name="institute" [(ngModel)]="institute">
                    <input type="text" class="form-control mb-4" id="editEducationTitle" placeholder="Title" [value]="education.title" name="title" [(ngModel)]="title">
                    <h5 class="text-dark">
                        Time
                        <input type="checkbox" class="form-check-input ms-4 fs-6" id="editEducationIsActual" [checked]="education.is_actual" #editEducationIsActual name="is_actual" [(ngModel)]="is_actual" (change)="onSaveActualCheckboxChange(editEducationIsActual.checked)">
                        <label class="form-check-label text-dark ms-1 fs-6" for="editEducationIsActual">
                            Is Actual
                        </label>
                    </h5>
                    <div class="row g-2 mb-4">
                        <div class="col-sm">
                            <label for="editEducationStartDate" class="form-label fs-6 text-dark mb-0">Start date</label>
                            <input type="date" class="form-control" id="editEducationStartDate" placeholder="Start Date" name="start_date" [(ngModel)]="formated_start_date"> 
                        </div>
                        <div class="col-sm">
                            <label for="editEducationEndDate" class="form-label fs-6 text-dark mb-0">End date</label>
                            <input type="date" class="form-control" id="editEducationEndDate" placeholder="End date" name="end_date" [(ngModel)]="formated_end_date">
                        </div>
                    </div>
                    <h5 class="text-dark mb-2">Links</h5>
                    <input type="text" class="form-control mb-2" id="editEducationEducationImgUrl" placeholder="Image url" [value]="education.img_url" name="img_url" [(ngModel)]="img_url">
                    <input type="text" class="form-control mb-1" id="editEducationEducationLink" placeholder="Link" [value]="education.link" name="link" [(ngModel)]="link">
                    <input type="checkbox" class="form-check-input" id="editEducationEnabledLink" [checked]="education.enabled_link" #editEducationEnabledLink name="enabled_link" [(ngModel)]="enabled_link" (change)="onSaveEnabledCheckboxChange(editEducationEnabledLink.checked)" >
                    <label class="form-check-label text-dark ms-1 mb-1" for="editEducationEnabledLink">
                        Enable link
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetWhenClose()" >Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>