<div class="presentation_container mh-100">

    <div class="home_presentation">

        <h2 class="home_presentation_text"><span>Hi there! I'm</span></h2>

        <h1 class="home_presentation_name">Uriel Spiridione</h1>

        <h2 class="home_presentation_text">Photographer and Full Stack Developer</h2>

        <div class="home_buttons_container">
            <a href="#contact" class="home_button">CONTACT ME</a>

            <i class="fa-solid fa-pen-to-square ico_edit ico_profile_desc home_edit_ico"></i>
        </div>

    </div>

    <div class="image__container">
        <img src="/../assets/img/perfil.jpg" alt="Foto de perfil de Uriel Spiridione" class="profile_img">
        <i class="fa-solid fa-pen-to-square ico_edit ico_profile_img"></i>
    </div>

</div>
