<section class="projects vh-100" id="projects">
    <div class="projects_container d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="project_title">Projects</h1>
        <hr class="project_hr opacity-100 w-25 mt-1">
        <div class="project_cards_container">
            <ul class="project_cards">
                <li class="project_card"><a class="project_link" href="#"> <!--  *ngFor="let project of data_projects" -->
                    <div class="project_card_header animated_bg project_card_img" id="project_header">
                        <!-- &nbsp; -->
                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
                            <!-- &nbsp; -->
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
                            <!-- &nbsp; -->
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
                <li class="project_card"><a class="project_link" href="#"> <!--  *ngFor="let project of data_projects" -->
                    <div class="project_card_header animated_bg project_card_img" id="project_header">
                        <!-- &nbsp; -->
                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
                            <!-- &nbsp; -->
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
                            <!-- &nbsp; -->
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
                <li class="project_card"><a class="project_link" href="#"> <!--  *ngFor="let project of data_projects" -->
                    <div class="project_card_header animated_bg project_card_img" id="project_header">
                        <!-- &nbsp; -->
                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
                            <!-- &nbsp; -->
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
                            <!-- &nbsp; -->
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
                <li class="project_card"><a class="project_link" href="#"> <!--  *ngFor="let project of data_projects" -->
                    <div class="project_card_header animated_bg project_card_img" id="project_header">
                        <!-- &nbsp; -->
                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
                            <!-- &nbsp; -->
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
                            <!-- &nbsp; -->
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
                <li class="project_card"><a class="project_link" href="#"> <!--  *ngFor="let project of data_projects" -->
                    <div class="project_card_header animated_bg project_card_img" id="project_header">
                        <!-- &nbsp; -->
                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
                            <!-- &nbsp; -->
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
                            <!-- &nbsp; -->
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
                <li class="project_card"><a class="project_link" href="#"> <!--  *ngFor="let project of data_projects" -->
                    <div class="project_card_header animated_bg project_card_img" id="project_header">
                        <!-- &nbsp; -->
                        <img src="https://images.unsplash.com/photo-1636622433525-127afdf3662d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Imagen del proyecto ProjectTITULO">
                    </div>
                    <div class="project_card_content">
                        <h3 class="project_card_title fs-5 m-0" id="title">
                            <!-- &nbsp; -->
                            Project TITULO
                        </h3>
                        <p class="project_card_text lh-sm mt-3 mb-6" id="text">
                            <!-- &nbsp; -->
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dicta.
                        </p>
                        <div class="project_button_container"><a href="#" class="button d-block p-3">WEB / GITHUB</a></div>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</section>