<section class="education vh-100" id="education">
    <div class="education_container d-flex flex-column h-100 justify-content-center align-items-center">
        <h1 class="education_title">Education</h1>
        <hr class="education_hr opacity-100">
        <div class="education_cards_container mt-2">
            <ul class="education_cards">
                <li class="education_card"><a class="education_link d-flex flex-row"><!--*ngFor="let education of data_education"--><!--[href]="education.link"-->
                    <div class="education_card_header animated_bg education_card_img" id="education_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/seed/picsum/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="education_card_content">
                        <h3 class="education_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Instituto de educación
                        </h3>
                        <p class="education_card_text" id="text">
                            <!-- &nbsp; -->
                            Titulo | Inicio to Final
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                        </p>
                    </div>
                </a></li>
                <li class="education_card"><a class="education_link d-flex flex-row"><!--*ngFor="let education of data_education"--><!--[href]="education.link"-->
                    <div class="education_card_header animated_bg education_card_img" id="education_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/seed/picsum/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="education_card_content">
                        <h3 class="education_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Instituto de educación
                        </h3>
                        <p class="education_card_text" id="text">
                            <!-- &nbsp; -->
                            Titulo | Inicio to Final
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                        </p>
                    </div>
                </a></li>
                <li class="education_card"><a class="education_link d-flex flex-row"><!--*ngFor="let education of data_education"--><!--[href]="education.link"-->
                    <div class="education_card_header animated_bg education_card_img" id="education_header">
                        <!-- &nbsp; -->
                        <img src="https://picsum.photos/seed/picsum/500/300" alt="Imagen del proyecto">
                    </div>
                    <div class="education_card_content">
                        <h3 class="education_card_title animated_bg animated_bg_title fs-5" id="title">
                            <!-- &nbsp; -->
                            Instituto de educación
                        </h3>
                        <p class="education_card_text" id="text">
                            <!-- &nbsp; -->
                            Titulo | Inicio to Final
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                            <span class="animated_bg animated_bg_text">&nbsp;</span>
                        </p>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</section>